{form name="post_form"}
    <div class="owm_forum_topic owm_forum_topic_reply">
        <div class="owm_forum_topic_nav">
            <div class="owm_forum_name_select owm_bg_color_1">
                <div class="owm_select_wrap">
                    <div class="ow_inline owm_inline">
                        {input name="text"}
                    </div>
                </div>
                <div class="owm_error_txt">
                    {error name="text"}
                </div>
            </div>
            <div class="owm_forum_topic_bottom owm_forum_topic_submit owm_padding owm_bg_color_1 clearfix">
                {if $enableAttachments}
                    <div class="owm_forum_topic_attach_info owm_float_left">
                        <label id="forum_add_post_attach_file" class="owm_attach_label owm_topic_attach_icon">
                            <span id="forum_add_post_attach_default_title">{text key='forum+attach_files'}</span>
                            <span id="forum_add_post_first_attach_name" style="display: none"></span>
                        </label>
                    </div>
                {/if}
                <div class="owm_float_right owm_forum_topic_submit">
                    <span class="ow_button">
                        {submit name="submit"}
                    </span>
                </div>
            </div>
        </div>
    </div>
{/form}

{if $enableAttachments}
    <div style="display: none">
        <div id="forum_post_attachments" class="owm_attach_win owm_forum_attach_win owm_padding">
            {$attachments}
            <div class="owm_padding owm_btn_wrap">
                <span class="ow_button">
                    <span class="ow_button">
                        <input type="button" id="forum_add_post_clear_files" value="{text key='forum+clear_all'}">
                    </span>
                </span>
                <span class="ow_button">
                    <span class="ow_button">
                        <input type="button" id="forum_add_post_attach_files" value="{text key='forum+add_files'}">
                    </span>
                </span>
            </div>
        </div>
    </div>
    {script}
        $( document ).ready(function() 
        { 
            var forumPostAttachments = new ForumAttachments({
                "attachmentUid"      : "{$attachmentUid}",
                "attachmentsWrapper" : $('#forum_post_attachments'),
                "attachDefaultTitle" : $("#forum_add_post_attach_default_title"),
                "firstAttachName"    : $("#forum_add_post_first_attach_name"),
                "clearFiles"         : $("#forum_add_post_clear_files"),
                "attachNewFiles"     : $("#forum_add_post_attach_files"),
                "attachNewFile"      : $("#forum_add_post_attach_file")
            });
        });
    {/script}
{/if}