{form name="topic_form"}
    <div class="owm_forum_topic owm_forum_topic_reply">
        <div class="owm_forum_topic_nav">
            <div class="owm_forum_topic_title owm_bg_color_1">
                {input name="title"}
                <div class="owm_error_txt">
                    {error name="title"}
                </div>
            </div>
            <div class="owm_forum_name_select owm_bg_color_1">
                <div class="owm_select_wrap">
                    <div class="ow_inline owm_inline">
                        {input name="group"}
                        <div class="owm_error_txt">
                            {error name="group"}
                        </div>
                    </div>
                </div>
            </div>
            <div class="owm_forum_topic_subscribe owm_bg_color_1">
                <div class="owm_checkbox_wrap">
                    <ul class="ow_checkbox_group clearfix">
                        <li>
                            {input name="subscribe"}
                            {label name="subscribe"}
                            <div class="owm_error_txt">
                                {error name="subscribe"}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="owm_forum_name_select owm_bg_color_1">
                <div class="owm_select_wrap">
                    <div class="ow_inline owm_inline">
                        {input name="text"}
                    </div>
                </div>
                <div class="owm_error_txt">
                    {error name="text"}
                </div>
            </div>
            <div class="owm_forum_topic_bottom owm_forum_topic_submit owm_padding owm_bg_color_1 clearfix">
                {if $enableAttachments}
                    <div class="owm_forum_topic_attach_info owm_float_left">
                        <label id="forum_new_topic_attach_file" class="owm_attach_label owm_topic_attach_icon">
                            <span id="forum_new_topic_attach_default_title">{text key='forum+attach_files'}</span>
                            <span id="forum_new_topic_first_attach_name" style="display: none"></span>
                        </label>
                    </div>
                {/if}
                <div class="owm_float_right owm_forum_topic_submit">
                    <span class="ow_button">
                        {submit name="post"}
                    </span>
                </div>
            </div>
        </div>
    </div>
{/form}

{if $enableAttachments}
    <div style="display: none">
        <div id="forum_topic_attachments" class="owm_attach_win owm_forum_attach_win owm_padding">
            {$attachments}
            <div class="owm_padding owm_btn_wrap">
                <span class="ow_button">
                    <span class="ow_button">
                        <input type="button" id="forum_new_topic_clear_files" value="{text key='forum+clear_all'}">
                    </span>
                </span>
                <span class="ow_button">
                    <span class="ow_button">
                        <input type="button" id="forum_new_topic_attach_files" value="{text key='forum+add_files'}">
                    </span>
                </span>
            </div>
        </div>
    </div>

    {script}
        $( document ).ready(function() 
        { 
            var filesList = [];
            var attachmentUid = '{$attachmentUid}';
            var $attachDefaultTitle = $("#forum_new_topic_attach_default_title");
            var $firstAttachName = $("#forum_new_topic_first_attach_name");
 
            // listen to upload new files event
            OW.bind('base.attachment_rendered', function(item) 
            {
                // we should listen only our attachment instance
                if (attachmentUid != this.uid)
                {
                    return;
                }

                // remember the added file
                var file = item.data;
                filesList.push({ id: file.id, name: file.name, size: file.size });

                // show the single attached name
                if ( !$firstAttachName.text() )
                {
                    $attachDefaultTitle.hide();
                    $firstAttachName.text(getAttachedFilesName()).show();
                    return;
                }
                
                // update the attach name
                $firstAttachName.text(getAttachedFilesName());
            });
 
            // listen to delete files event
            OW.bind('base.attachment_deleted', function(data) 
            {
                // we should listen only our attachment instance
                if (attachmentUid != this.uid)
                {
                    return;
                }

                // delete the file
                filesList = filesList.filter(function (el) 
                {
                    return el.id != data.id;
                });

                // display the default attach title
                if ( !filesList.length )
                {
                    $attachDefaultTitle.show();
                    $firstAttachName.text("").hide();
                    return;
                }
 
                // update the first attach file name
                $firstAttachName.text(getAttachedFilesName()).show();
            });

            // listen to clear all attached files event
            $("#forum_new_topic_clear_files").bind("click", function(e)
            {
                owFileAttachments[attachmentUid].reset(attachmentUid);
 
                $attachDefaultTitle.show();
                $firstAttachName.text("").hide();
                filesList = [];
            });

            // listen to attach new files event
            $("#forum_new_topic_attach_files").bind("click", function(e)
            {
                $("#forum_topic_attachments .mlt_file_input").trigger("click");
            });

            //  listen to upload a new file or show the files list
            $("#forum_new_topic_attach_file").bind("click", function(e)
            {
                e.preventDefault();

                // allow upload only a first file
                if ( !filesList.length )
                {
                    $("#forum_topic_attachments .mlt_file_input").trigger("click");
                }
                else
                {
                    // show the manage files list window
                    OWM.FloatBox({
                        "title" : OWM.getLanguageText("forum", "post_attachment"),
                        "content": $("#forum_topic_attachments")
                    });
                }
            });

            /**
             * Get attached files name
             *
             * @return string
             */
            function getAttachedFilesName()
            {
                var length = filesList.length;
 
                if ( length )
                {
                    if ( length > 1 )
                    {
                        return length + " " + OWM.getLanguageText("forum", "attached_files");
                    }
 
                    // get the first file info
                    var file = filesList[0];
                    return file.name + " (" + file.size + "KB)";
                }
            } 
        });
    {/script}
{/if}