<div class="owm_padding owm_bg_color_1">
    {form name="topic_edit_form"}
        <div class="owm_forum_topic owm_forum_topic_reply">
            <div class="owm_forum_topic_nav">
                <div class="owm_forum_topic_title owm_bg_color_1">
                    {input name="title"}
                    <div class="owm_error_txt">
                        {error name="title"}
                    </div>
                </div>
                <div class="owm_forum_name_select owm_bg_color_1">
                    <div class="owm_select_wrap">
                        <div class="ow_inline owm_inline">
                            {input name="text"}
                        </div>
                    </div>
                    <div class="owm_error_txt">
                        {error name="text"}
                    </div>
                </div>
                <div class="owm_forum_topic_bottom owm_forum_topic_submit owm_padding owm_bg_color_1 clearfix">
                    {if $enableAttachments}
                        <div class="owm_forum_topic_attach_info owm_float_left">
                            <label id="forum_add_topic_attach_file_{$topicId}" class="owm_attach_label owm_topic_attach_icon">
                                <span id="forum_add_topic_attach_default_title_{$topicId}">{text key='forum+attach_files'}</span>
                                <span id="forum_add_topic_first_attach_name_{$topicId}" style="display: none"></span>
                            </label>
                        </div>
                    {/if}
                    <div class="owm_float_right owm_forum_topic_submit">
                        <span class="ow_button">
                            {submit name="save"}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {/form}
</div>

{if $enableAttachments}
    <div style="display: none">
        <div id="forum_topic_attachments_{$topicId}" class="owm_attach_win owm_forum_attach_win owm_padding">
            {$attachmentsCmp}
            <div class="owm_padding owm_btn_wrap">
                <span class="ow_button">
                    <span class="ow_button">
                        <input type="button" id="forum_add_topic_clear_files_{$topicId}" value="{text key='forum+clear_all'}">
                    </span>
                </span>
                <span class="ow_button">
                    <span class="ow_button">
                        <input type="button" id="forum_add_topic_attach_files_{$topicId}" value="{text key='forum+add_files'}">
                    </span>
                </span>
            </div>
        </div>
    </div>
    {script}
        $( document ).ready(function() 
        { 
            var forumEditTopicAttachments_{$topicId} = new ForumAttachments({
                "attachmentUid"       : "{$attachmentUid}",
                "attachmentsWrapper"  : $('#forum_topic_attachments_{$topicId}'),
                "attachDefaultTitle"  : $("#forum_add_topic_attach_default_title_{$topicId}"),
                "firstAttachName"     : $("#forum_add_topic_first_attach_name_{$topicId}"),
                "clearFiles"          : $("#forum_add_topic_clear_files_{$topicId}"),
                "attachNewFiles"      : $("#forum_add_topic_attach_files_{$topicId}"),
                "attachNewFile"       : $("#forum_add_topic_attach_file_{$topicId}")
            });

            {if !empty($attachments)}
                forumEditTopicAttachments_{$topicId}.
                    renderUploadedAttachments({$attachments}, "{url_for_route for='forum_delete_attachment'}");
            {/if}
        });
     {/script}
{/if}