{style}
    .ow_forum_advanced_search .ow_multiselect {
        width: 100%;
        height:200px;
    }
{/style}

{$breadcrumb}

{form name="search_form"}

    <div class="ow_superwide ow_automargin ow_forum_advanced_search">
        <table class="ow_table_1">
            <tr class="ow_tr_first">
                <th colspan="2">{text key="forum+search"}</th>
            </tr>
            <tr class="ow_alt1">
                <td colspan="2" class="ow_txtleft ow_small">
                    {input name="keyword"}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td class="ow_txtcenter" width="35%">
                    {label name="username"}
                </td>
                <td class="ow_txtleft">
                    {input name="username"}
                </td>
            </tr>
            <tr class="ow_tr_delimiter"><td></td></tr>
            <tr class="ow_tr_first">
                <th colspan="2">{text key="forum+where_to_search"}</th>
            </tr>
            <tr class="ow_alt1">
                <td class="ow_txtcenter">
                    {label name="parts[]"}
                </td>
                <td class="ow_txtleft">
                    {input name="parts[]"}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td class="ow_txtcenter">
                    {label name="search_in"}
                </td>
                <td class="ow_txtleft">
                    {input name="search_in"}
                </td>
            </tr>
            <tr class="ow_tr_delimiter"><td></td></tr>
            <tr class="ow_tr_first">
                <th colspan="2">{text key="forum+additional"}</th>
            </tr>
            <tr class="ow_alt1">
                <td class="ow_txtcenter">
                    {label name="period"}
                </td>
                <td class="ow_txtleft">
                    {input name="period"}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td class="ow_txtcenter">
                    {label name="sort"}
                </td>
                <td class="ow_txtleft">
                    {input name="sort"}
                    {input name="sort_direction"}
                </td>
            </tr>
        </table>
        
        <div class="clearfix">
            <div class="ow_right">
                <span class="ow_button">
                    <span class=" ow_ic_search">
                        {submit name="submit"}
                    </span>
                </span>
            </div>
        </div>

    </div>

{/form}
